<p-panel header="Pipes numéricos en Angular" class="p-1"> 
    Pipes incluidos en Angular - Usualmente en el Common Module
</p-panel>

<div class="grid mt-2"> 

    <div class="col-12 md:col-4">
        <p-card header="Ventas Netas" subheader="del presente año">
            {{ totalSells | number: '1.2-2'}}
        </p-card>
    </div>    
    <div class="col-12 md:col-4">
        <p-card header="Ventas Brutas" subheader="del presente año">
            {{ totalSells | currency:'USD':'symbol-narrow':'1.2-2'}}
        </p-card>
    </div>
</div>
